.layout {
  position: relative;
  min-height: 100dvh;
  padding: clamp(16px, 3vw, 36px);
  padding-bottom: clamp(120px, 16vw, 168px);
}

.navigation {
  position: fixed;
  left: 50%;
  bottom: clamp(16px, 2vw, 36px);
  z-index: 10;
  transform: translateX(-50%);
}
